{{ $baseurl := .Site.BaseURL }}
<div class="about" id="about">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        {{ with .Site.Params.about }}
          <div class="col-sm-6 col-md-4">
            <img src="{{ $baseurl }}/img/{{ .emblem }}" alt="{{ .Site.Title }}">
          </div>
          <div class="col-sm-6 col-md-8 flex-sm-middle">
            <h1>{{ .headline }}</h1>
            {{ markdownify .description }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ partial "contact" . }}
</div>
