<div class="container-fluid contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 leaders">
        {{ with .Site.Params.officer }}
          <h2>{{ .headline }}</h2>
          <p>{{ .description }}</p>
          <table class="table">
            <thead>
              <th scope="col">Name</th>
              <th scope="col">Guild Wars 2</th>
              <th scope="col">Discord</th>
            </thead>
            <tbody>
              {{ range $leader := .leader }}
                <tr>
                  <td>{{ $leader.name }}</td>
                  <td>{{ $leader.gw2 }}</td>
                  <td>{{ $leader.discord }}</td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        {{ end }}
      </div>
      <div class="col-sm-6 col-md-4 discord">
        {{ with .Site.Params.discord }}
          <h2>{{ .headline }}</h2>
          <p>{{ .description }}</p>
          <p class="text-center">
            <a href="javascript:alert('Link no longer available');" class="btn btn-lg btn-default">
              <i class="fab fa-discord"></i> &nbsp;Join Us on Discord!
            </a>
          </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
