{{ partial "menu" . }}
<div class="page-header" style="background-image:url('{{ .Site.BaseURL }}img/{{ if .Params.background }}{{ .Params.background }}{{ else }}{{ .Site.Params.splash.background }}{{ end }}')">
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>
