<div class="navbar navbar-dark fixed-top navbar-expand-sm clearfix" id="mainNav">
  <h3 class="navbar-brand">
    {{ if .IsHome }}
      <a href="#splash" class="js-scroll-trigger">
    {{ else }}
      <a href="{{ .Site.BaseURL }}">
    {{ end }}
      {{ .Site.Title }}
    </a>
  </h3>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
            {{ if .IsHome }}
              <a href="#splash" class="js-scroll-trigger">
            {{ else }}
              <a href="{{ .Site.BaseURL }}">
            {{ end }}
            Home
          </a>
        </li>
        <li class="nav-item"><a class="navbar-link" href="{{ .Site.BaseURL }}apply">Apply</a></li>
      </ul>
    </nav>
  </div>
</div>
