<div class="splash-page" id="splash" style="background-image:url('{{ .Site.BaseURL }}/img/{{ .Site.Params.splash.background }}')">
  <div class="splash-page-inner">
    {{ partial "menu" .}}
    <div class="container">
      <div class="inner cover">
        <h1 class="cover-heading">{{ .Site.Params.splash.headline }}</h1>
        <p class="lead">{{ .Site.Params.splash.subhead }}</p>
        <p class="lead">
          <a href="#about" class="js-scroll-trigger"><span class="arrow"></span></a>
        </p>
      </div>
    </div>
  </div>
</div>
