<!DOCTYPE html>
<html lang="en-us">
{{ partial "head" . }}
  {{ if .IsHome }}
		<body class="splash">
      {{ partial "splash" . }}
  {{ else }}
		<body>
    	{{ partial "header" . }}
  {{ end }}

	{{ block "main" . }}{{ end }}

	{{ partial "footer" . }}
	</body>
</html>
